* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
  }
  
  body {
    background-color: #0f0e0e;
  }
  
  .maze {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  #settings {
    position: absolute;
    padding: 1.5rem;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid rgb(151, 106, 196);
    border-radius: 10px;
    background-color: #7b46d0;
    font-size: 0.8rem;
    z-index: 2;
  }
  
  input {
    margin-bottom: 1rem;
    background-color: #161616;
    text-align: center;
    border: none;
    border-bottom: 1px solid #3f3fe9;
    margin-top: 0.2rem;
  }
  
  #submit {
    background-color: #a547b8;
    border: 1px solid #87a4d7;
    border-radius: 10px;
    padding: 0.4rem;
    cursor: pointer;
    margin: 1rem;
  }
  
  #submit:hover {
    opacity: 0.7;
  }
  
  .complete {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 30%;
    background: #4f4883;
    z-index: 4;
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
  }
  
  .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5%;
    color: #eff7f8;
    font-family: "Bungee Inline", cursive;
  }
  